
*{  

    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
    perspective:10px;
}

.container{
    position:relative;
    display: flex;
    justify-content:center;
    align-items:center;
    height:100%;
    transform-style: preserve-3d;
    z-index: -1; 
}

/* This is the code that helps in parallex effect  */
#background{
    transform:translateZ(-35px) scale(5);
}

#foreground{
    transform:translateZ(-20px) scale(3);
}

#background, #foreground{
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    object-fit: cover;
}

h1{
    position: absolute;
    top: 5rem;  
    font-size: 10rem; 
    letter-spacing: 4px;
     color: white; 
     text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

section{
    background-color: rgb(45,45,45);
    padding: 5rem 0; 
    color: white;
}

.secHead{
    font-size: 3rem; 
    padding: 0 5rem; 
}

.text{
    font-size: 1.3rem; 
    padding: 0 5rem; 
    margin:3rem 0; 
}
.bg1{
    background-image: url(sport-1.jpg);
}

.bg2{
    background-image: url(sport-2.jpg);
}

.bg3{
    background-image: url(sport-3.jpg);
}

.bg{
    position: relative; 
    width: 100%; 
    background-attachment: fixed; /* We can hover other items over images by scroling*/ 
    height: 370px;
    background-size: cover; /* cover the image according to the size of viewPort*/
    background-position: center;
}

.desc{
   position: absolute; 
   background-color: white; 
   padding: 0.5rem 2.5rem; 
   top: 50%; 
   left: 50%; 
   transform: translateX(-50%) translateY(-50%);
   color: black; 
   font-size: 2.5rem;
   font-weight: 600;   
}
